$icomoon-font-path: "fonts" !default;

$san-alert: "\e900";
$san-alert_2: "\e901";
$san-archivo: "\e902";
$san-arrow_down: "\e903";
$san-arrow_left: "\e904";
$san-arrow_right: "\e905";
$san-arrow_up: "\e906";
$san-bot_down: "\e907";
$san-bot_up: "\e908";
$san-calendario: "\e909";
$san-camera: "\e90a";
$san-close_menu: "\e90b";
$san-comida: "\e90c";
$san-comida_2: "\e90d";
$san-configuracion: "\e90e";
$san-contacto: "\e90f";
$san-cuidar: "\e910";
$san-descarga: "\e911";
$san-document: "\e912";
$san-educacion: "\e913";
$san-equipo: "\e914";
$san-facturas: "\e915";
$san-filtrado: "\e916";
$san-fisioterapia: "\e917";
$san-help: "\e918";
$san-higiene_2: "\e919";
$san-higiene: "\e91a";
$san-historico: "\e91b";
$san-home: "\e91c";
$san-imagen: "\e91d";
$san-informacion: "\e91e";
$san-informe: "\e91f";
$san-informes_todos_2: "\e920";
$san-informes_todos: "\e921";
$san-ko: "\e922";
$san-ko_2: "\e923";
$san-lapiz: "\e924";
$san-lectura_comun: "\e925";
$san-localizacion: "\e926";
$san-logout: "\e927";
$san-mas: "\e928";
$san-medicacion_2: "\e929";
$san-medicacion: "\e92a";
$san-menos: "\e92b";
$san-menu_familiar: "\e92c";
$san-menu_mobile: "\e92d";
$san-ocio: "\e92e";
$san-ocio_2: "\e92f";
$san-ok: "\e930";
$san-ok_2: "\e931";
$san-pdf: "\e932";
$san-perfil: "\e933";
$san-persona: "\e934";
$san-pintura: "\e935";
$san-plato_medio_ok-path1: "\e936";
$san-plato_medio_ok-path2: "\e937";
$san-plato_medio_ok-path3: "\e938";
$san-plato_medio_ok-path4: "\e939";
$san-plato_medio_ok-path5: "\e93a";
$san-plato_mucho_ok-path1: "\e93b";
$san-plato_mucho_ok-path2: "\e93c";
$san-plato_mucho_ok-path3: "\e93d";
$san-plato_mucho_ok-path4: "\e93e";
$san-plato_mucho_ok-path5: "\e93f";
$san-plato_poco_ok-path1: "\e940";
$san-plato_poco_ok-path2: "\e941";
$san-plato_poco_ok-path3: "\e942";
$san-plato_poco_ok-path4: "\e943";
$san-plato_poco_ok-path5: "\e944";
$san-plato_poco_ok-path6: "\e945";
$san-plato_todo_ok: "\e946";
$san-psicologia: "\e947";
$san-relaciones: "\e948";
$san-residencia: "\e949";
$san-seguimiento: "\e94a";
$san-seguimientos_2: "\e94b";
$san-sugerencias: "\e94c";
$san-actividad: "\e94d";
$san-telefono: "\e94e";
$san-pass: "\e631";
$san-usuario: "\e632";
$san-close: "\e965";

